<mat-card [ngStyle]="cardStyle" class="example-card" [@cardAnimator]="animationState" (@cardAnimator.done)="resetAnimationState()"
  (swiperight)="makeChoiceRight()" (swipeleft)="makeChoiceLeft()">

  <mat-card-header>
    <mat-card-title *ngIf="event.character" class="headerText">{{event.character.name}}</mat-card-title>
    <mat-card-subtitle class="eventText">{{event.character.occupation}}</mat-card-subtitle>
    <mat-card-subtitle class="eventText"> </mat-card-subtitle>
  </mat-card-header>


  <img mat-card-image [src]="characterImage" class="middle-image">

  <mat-card-content>
    <p class="eventText">
      {{event.mainText}}
    </p>
  </mat-card-content>

  <button [disabled]="isPressed" mat-raised-button color="primary" class="optionText" (click)="makeChoiceLeft()"
    (mouseleave)="hideTextLeft()" *ngIf="isHoverLeft">{{event.leftText}}</button>

  <button mat-raised-button color="primary" class="optionText" *ngIf="!isHoverLeft" (mouseenter)="previewChoiceLeft()">
    &#171;
  </button>

  <button [disabled]="isPressed" mat-raised-button color="accent" style="float: right;" class="optionText" (click)="makeChoiceRight()"
    *ngIf="isHoverRight" (mouseleave)="hideTextRight()">{{event.rightText}}</button>

  <button mat-raised-button color="accent" class="optionText" *ngIf="!isHoverRight" (mouseenter)="previewChoiceRight()"
    style="float: right;">
    &#187;
  </button>

</mat-card>
