p {
  text-align: center;
}

.left-button {
  top: -0.47vh
}

.right-button {
  top: -0.4vh
}


.example-card {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  background-repeat: no-repeat;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.middle-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  height: 36vh;
  border-radius: 20px;
  /* border: solid rgba(228, 228, 228, 0.25) 10px; */
}

.textButton {
  padding-bottom: 5px;
}

.increaseSize {
  animation: increase-font .3s;
}

@keyframes increase-font {
  0% {
    font-size: 0;
  }
}


.eventText {
  font-size: 24px;
}

.hiddenText {
  opacity: 0;
  font-size: 24px;
}

.hiddenImage {
  opacity: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  height: 36vh;
}

.hidden {
  opacity: 0;
  font-size: 26px;
  margin-bottom: 5px !important;
}

.headerText {
  font-size: 26px;
  margin-bottom: 5px !important;
}

.optionText {
  font-size: 18px;
}

.hiddenOptionText {
  font-size: 20px;
  opacity: 0;
}


.left-text {
  color: rgb(39, 99, 72);
  /* color: cadetblue; */
  z-index: 5;
}

.right-text {
  color: rgb(185, 43, 35);
  /* color: coral; */
  z-index: 5;
}



.absolute-center {
  opacity: 0;
  font-size: 24px;
  font-weight: bolder;
  position: absolute;
  left: 50%;
  top: 35%;
  margin-top: -12px;
  margin-left: -90px;
}

.text-fade-in {
  animation: fadeIn 2s;
}

.textAnim {
  animation: hagi-fade 0.3s;
}


@media only screen and (max-width: 800px) {

  .right-button {
    top: 0.2vh
  }

  .absolute-center {
    opacity: 0;
    font-size: 22px;
    font-weight: bolder;
    position: absolute;
    left: 50%;
    top: 40%;
  }

  .short {
    padding-left: 18px
  }

  .middle-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 70vw;
    height: 30vh;
  }

  .example-card {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 85vw;
    background-repeat: no-repeat;
    max-height: 60vh;
    /* transform: scale(0.85); */
  }

  .eventText {
    font-size: 16px;
  }

  .hiddenText {
    opacity: 0;
    font-size: 16px;
  }

  .button-margin {
    margin-top: -12px;
  }

}





@keyframes hagi-fade {
  0% {
    opacity: 0;
    transform: scale(0.4);
  }

  60% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes bounce {
  0% {
    opacity: 0;
  }

  from,
  20%,
  53%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    transform: translate3d(0, -4px, 0);
  }

  100% {
    opacity: 1;
  }

}

.bounce {
  animation: bounce 0.5s;
  transform-origin: center bottom;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  animation: fadeInDown 0.3s;
}


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  animation: fadeInUp 0.3s;
}

.appearing {
  animation: appear .5s;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0.5) rotate(30deg);
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  animation: fadeInLeft 0.3s;
}
