<span *ngIf="isSwipeLeft" class="absolute-center left-text text-fade-in"
  [ngClass]="{'short': isLeftShortText}">{{event.leftText}}</span>
<span *ngIf="isSwipeRight" class="absolute-center right-text text-fade-in"
  [ngClass]="{'short': isRightShortText}">{{event.rightText}}</span>
<app-swipe #swipe (previewSwipeLeft)="showSwipeTextLeft()" (previewSwipeRight)="showSwipeTextRight()"
  (hidePreviewSwipeLeft)="hideSwipeTextLeft()" (hidePreviewSwipeRight)="hideSwipeTextRight()"
  (swipedLeft)="makeChoiceLeft()" (swipedRight)="makeChoiceRight()" [resetSwipe]="resetSwipe"
  (appearEnd)="resetAnimCycle()" (swipeAnimEnd)="finishedSwipe()">
  <mat-card [ngStyle]="cardStyle" class="example-card ">

    <mat-card-header>
      <mat-card-title class="{{showCharName ? 'headerText' : 'hidden'}}" *ngIf="event.character"
        [ngClass]="{'fadeInDown': nameFade}" (animationend)="finishedNameAnim()">{{event.character.name}}
      </mat-card-title>
      <mat-card-subtitle class="{{showCharOccupation ? 'headerText' : 'hidden'}}" *ngIf="event.character"
        [ngClass]="{'fadeInUp': occupationFade}" (animationend)="finishedOccupationAnim()">
        {{event.character.occupation}}
      </mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image [src]="characterImage" class="{{showImage ? 'middle-image' : 'hiddenImage'}}"
      [ngClass]="{'fadeInLeft': imageAnim}" (mousedown)="$event.preventDefault()" (animationend)="finishedImageAnim()">

    <mat-card-content>
      <p class="{{showEventText ? 'eventText' : 'hiddenText'}}" [ngClass]="{'bounce': textAnim}"
        (animationend)="finishedAnim()">
        {{event.mainText}}
      </p>
    </mat-card-content>

    <button [disabled]="isPressed" mat-raised-button color="primary" class="optionText textButton"
      (click)="swipe.swipeLeft()" (mouseleave)="hideTextLeft()" *ngIf="isHoverLeft">{{event.leftText}}</button>

    <button mat-raised-button color="primary" class="{{showButtons ? 'optionText' : 'hiddenOptionText'}}"
      [ngClass]="{'textAnim': buttonsAnim}" *ngIf="!isHoverLeft" (mouseenter)="showTextLeft()">
      {{event.isPerkLeft? "&loz;":"&#171;" }}
    </button>

    <button [disabled]="isPressed" mat-raised-button color="accent" style="float: right;" class="optionText"
      (click)="swipe.swipeRight()" *ngIf="isHoverRight" (mouseleave)="hideTextRight()">{{event.rightText}}</button>

    <button mat-raised-button color="accent" class="{{showButtons ? 'optionText' : 'hiddenOptionText'}}"
      [ngClass]="{'textAnim': buttonsAnim}" *ngIf="!isHoverRight" (mouseenter)="showTextRight()" style="float: right;"
      (animationend)="finishedButtonsAnim()">
      {{event.isPerkLeft? "&loz;":" &#187;" }}

    </button>

  </mat-card>
</app-swipe>
