p {
  text-align: center;
}


.example-card {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  background-repeat: no-repeat;
}

.middle-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  height: 36vh;
}


.eventText {
  font-size: 24px;
}

.headerText {
  font-size: 26px;
  margin-bottom: 5px !important;
}

.optionText {
  font-size: 20px;
}


.left-text {
  color: cadetblue;
}

.right-text {
  color: coral;
}



.absolute-center {
  opacity: 0;
  font-size: 24px;
  font-weight: bolder;
  position: absolute;
  left: 50%;
  top: 35%;
  margin-top: -12px;
  margin-left: -90px;
}

.text-fade-in {
  animation: fadeIn 2s;
}


@media only screen and (max-width: 800px) {

  .absolute-center {
    opacity: 0;
    font-size: 22px;
    font-weight: bolder;
    position: absolute;
    left: 50%;
    top: 40%;
  }

  .short {
    padding-left: 18px
  }

  .example-card {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    background-repeat: no-repeat;
    /* transform: scale(0.85); */
  }

  .eventText {
    font-size: 16px;
  }


}



@keyframes fadeIn {

  60% {
    opacity: 1;
  }


}
