<div class="container-hagi" [@backGroundHandler]="backGroundState">
  <app-multiple-background-icons *ngIf="!showLosePage" class="{{showGameStatus ? 'shown' : 'hidden'}}"
    [ngClass]="{'fadeOut': fadeOut}"></app-multiple-background-icons>

  <div *ngIf="!showLosePage" class="container ">
    <div #barsRowDiv class="row {{showBars ? 'shown' : 'hidden'}}" [ngClass]="{'fadeOutUp': fadeOutUp}"
      (animationend)="fadeOutUpEnd($event,barsRowDiv)">
      <div class="col " *ngFor="let bar of Bars; let i = index">
        <app-bar [bar]=bar></app-bar>
      </div>
    </div>


    <div *ngIf="showCard">
      <app-card #card [event]=event (choiceEvent)="choiceSort($event)" (choicePreviewEvent)="choicePreview($event)"
        (hideColor)="hideColor()"></app-card>
    </div>
    <div #gameStatusDiv class="{{showGameStatus ? 'shown' : 'hidden'}}" [ngClass]="{'fadeOut': fadeOut}"
      (animationend)="fadeOutEnd($event,gameStatusDiv)">
      <app-game-status (saveEmitter)="saveGame()" (loadEmitter)="loadGame()">
      </app-game-status>
    </div>
  </div>

  <div *ngIf="showLosePage" class="container">
    <app-losepage (loadEmitter)="loadGame()"></app-losepage>
  </div>

</div>
