/* body {
  background-color: darkslateblue
} */


.container-hagi {
  height: 100%;
  overflow: hidden;
}

.color {
  color: rgb(54, 163, 127)
}

.backgroundComp {
  z-index: -5;
}

.hidden {
  opacity: 0;
}

.shown {
  opacity: 1;
}


@keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}

.fadeOutUp {
  animation: fadeOutUp 1s;
}


@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  animation: fadeOut 1s;
}
