  <mat-card class="myCard">
    <span *ngIf="currentStatus">Status:<span [ngClass]="{'appearing': appearingStatus}"
        (animationend)="finishedAppearingStatus()"> {{currentStatus}}</span>
    </span>
    <span class="rightFloat" *ngIf="gameState?.dayNum">Day:<span [ngClass]="{'fadeInDown': appearingDay}"
        (animationend)="finishedAppearingDay()"> {{gameState.dayNum}} </span></span>
    <br>
    <span class="rightFloat" *ngIf="gameState?.time"> Time: <img title="{{gameState.time}}" class="icon"
        src='assets/images/icons/{{gameState.time}}.png' [ngClass]="{'appearing': appearingTime}"
        (animationend)="finishedAppearingTime()"> </span>
    <span class="test" *ngIf="gameState?.perks" [ngClass]="{'appearing': appearingPerks}"
      (animationend)="finishedAppearingPerks()">Perks:
      <span *ngFor="let perk of gameState.perks; let i=index;"><img img title="{{perk.perkName}}" class="perkIcon"
          src='assets/images/perkIcons/{{perk.perkName}}.png'></span>
    </span>
    <br>
  </mat-card>
