  <mat-card class="myCard">
    <span *ngIf="currentStatus">Status:<span [ngClass]="{'appearing': appearingStatus}"
        (animationend)="finishedAppearingStatus()"> {{currentStatus}}</span>
    </span>
    <span class="rightFloat" *ngIf="gameState?.dayNum">Day:<span [ngClass]="{'fadeInDown': appearingDay}"
        (animationend)="finishedAppearingDay()"> {{gameState.dayNum}} </span></span>
    <br>
    <span class="rightFloat" *ngIf="gameState?.time"> Time: <img title="{{gameState.time}}" class="icon"
        src='assets/images/icons/timeIcons/{{gameState.time}}.png' [ngClass]="{'appearing': appearingTime}"
        (animationend)="finishedAppearingTime()"> </span>
    <span class="test" *ngIf="gameState?.perks" [ngClass]="{'appearing': appearingPerks}"
      (animationend)="finishedAppearingPerks()">Perks:
      <span class="spanMargin" *ngFor="let perk of gameState.perks; let i=index;">
        <app-icon-continer [perk]=perk></app-icon-continer>
      </span>
    </span>
    <br>
    <img *ngIf="!muted" (click)="muteSound()" title="Press to mute" img class="musicIcon"
      src='assets/images/icons/music/sound-on.png'>
    <img *ngIf="muted" (click)="unMuteSound()" title="Press to un-mute" img class="musicIcon"
      src='assets/images/icons/music/sound-off.png'>

    <img (click)="toggleButtons()" title="Press to toggle buttons" img class="musicIcon"
      src='assets/images/icons/optionIcons/buttonToggle.png'>
    <br>
  </mat-card>
