.barStyle {
  height: 10px;
  max-width: 350px;
}

.bar-card {
  max-height: 83.98px;
  margin-bottom: 25px;
  margin-top: 50px;
}

span {
  font-size: 16px;

}

.bad {
  color: crimson;
  font-weight: bolder;
  opacity: 0;
}

.good {
  color: darkcyan;
  font-weight: bolder;
  opacity: 0;
}

.my-animation {
  animation: fadeIn 1s;
}

.animation-move-right {
  animation: moveRight 1s;
}


.previewIcon {
  font-size: 36px;
  margin-left: 70px;
  position: absolute;
  left: 50%;
  top: 25%;
  margin-top: -12px;
}


@keyframes moveRight {
  0% {
    margin-left: 0px;
    opacity: 0;
    transform: scale(0.5)
  }

}

@keyframes fadeIn {

  50% {
    opacity: 1;
  }


}
