<mat-card class="bar-card">
  <mat-card-header>
    <div mat-card-avatar [ngStyle]="barStyle" title="{{bar.type}}"></div>
    <mat-card-title> {{bar.value}} <span class="my-animation good"
        *ngIf="bar.showPositive">{{bar.positive}}</span>
      <span class="my-animation bad" *ngIf="bar.showNegative">{{bar.negative}}</span>
      <span *ngIf="bar.previewIcon" class="animation-move-right previewIcon" [style.color]="getPreviewIconColor()"
        [style.font-size]="getFontsize()" [style.top]="getTop()">
        &diams;</span>
    </mat-card-title>
  </mat-card-header>
  <mat-progress-bar class="barStyle" mode="determinate" value="{{bar.value}}" color="{{bar.color}}">
  </mat-progress-bar>
  <!-- <button (click)="mockCalculateUp()">Up</button>
  <button (click)="mockCalculateDown()">Down</button> -->
</mat-card>
